[project]
	description = Common Android Kernel Tree
	state = active
[receive]
	requireSignedOffBy = true
[submit]
	action = fast forward only
[access]
	inheritFrom = Kernel-Projects
[access "refs/heads/*"]
	owner = group kernel-owners
	push = +force group kernel-owners
	create = group kernel-owners
	label-Code-Review = -2..+2 group kernel-approvers
	label-Verified = -1..+1 group kernel-approvers
	submit = group kernel-approvers
